@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .perspective-container {
    perspective: 1200px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}